body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #000;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 15px;
  vertical-align: middle;
}

.topnav a:hover {
  color: #0b7dda;
}

.topnav a.active {
  color: #105c96;
}

.slider-heading {
  padding-left: 160px;
}
.space {
  margin: 60px 0px;
}

.center {
  margin: auto;
  color: #fff;
}

.headings {
  color:#bc2127 ;
  text-align: center;
}
.sub-t {
  text-align: center;
  font-size: 13px;
}
.sub-h {
  text-align: center;
  font-size: 20px;
  color: #000;
}
.btn {
  text-align: center;
  width: 100%;
  border: 1px solid #0b7dda;
}

.catbg {
  background: #f1fcfd;
  padding: 5px;
  border-radius: 50px;
}
button {
  background: #bc2026;
  color: #000;
  margin: auto;
  width: 100%;
}
.why {
  border: 2px solid #105c96;
  border-radius: 5px;
}

.service-align {
  margin-top: 20px;
}
.service {
  border: 1px solid black;
  box-shadow: 5px 5px #105c96;
  margin: 10px;
}


.import-data-section {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px 4px 4px rgb(0 0 0 / 25%);
}

.testimonial {
  background: #105c96;
  padding: 50px;
}
.testimonial-box {
  text-align: center;
  border: 1px solid;
  margin: 5px;
  color: #fff;
  padding: 10px;
}
.footer {
  background: #105c96;
  padding: 20px;
}
.text {
  color: white;
}
.fa {
  padding: 0px 15px 0px 5px;
  text-align: center;
  text-decoration: none;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* MBBS Page----------------------- */

.mbbs {
  background: #105C96;
  padding: 100px;
}
.course-text {
  color: white;
  text-align: center;
}
